.Rproj.user
.Rhistory
.RData
*.Rproj
*/shinyapps
*/rsconnect
.DS_Store
logistic/rsconnect
logistic/info.files
logistic/info.files/about.Rmd
logistic/info.files/about.html
Notes for Thesis.Rmd
Notes_for_Thesis.html
.gitignore